.item-action {
    display: none;
}

div.item {
    background-color: #f6f6f6;
    height: 92px;
}

div.item-desc {
    margin-top: 10px;
    height: 20px;
    display: block;
}

span.item-status {
    height: 20px;
}

.search-bar {
    display: none;
}

.footer {
    display: none;
}